<form action="/restaurants" method="POST">

  <label>Name:</label><input type= "TEXT" name="name">
</input> <br>
  <label>City:</label><input type= "TEXT" name="city">
</input><br>
  <label>Cuisine:</label><input type= "TEXT" name="cuisine">
</input><br>
  <label>Rating:</label><input type= "INTEGER" name="rating">
</input><br>
  <label>Address:</label><input type= "TEXT" name="address">
</input><br>

<input type="SUBMIT" value="submit"></input>

</form>

<%= yield%>
