<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users/new">Add a User</a>
    <a href="/restaurants">See all Restaurants</a>
    <a href="/users">See all Users</a>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
